<div class="row">
  <div class="col-md-12 ">
    <button class="btn btn-sm btn-primary" [routerLink]="['expense/addExpense']">Add Expense</button>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            <th>
              Category
            </th>
            <th>
              Item Name
            </th>
            <th>
              Amount
            </th>
            <th>
              Expense Date
            </th>
          </tr>
          <tr
            *ngFor="let item of expensesList | paginate: { itemsPerPage: 1, currentPage: currentPageOfPagination , totalItems: expensesList.length } ;let i = index ">

            <td>
              <span class="fa fa-edit" (click)="editExpenseDetail(i)"></span>
              {{item.categoryName}}
            </td>
            <td>
              {{item.itemName}}
            </td>
            <td>
              {{item.amount}}
            </td>
            <td>
              {{item.date | date:'dd/MM/yyyy'}}
            </td>
            <td>
              <span class="fa fa-trash" (click)="onDeleteExpense(i,item.itemName,item.isSoftDeleted)"></span>
            </td>
          </tr>
        </table>
        <pagination-controls (pageChange)="currentPageOfPagination = $event"></pagination-controls>
      </div>
    </div>

  </div>
</div>